<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SafeLink Checker</title>

    <link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="container">


    <h1>SafeLink Checker</h1>

    <p class="subtitle">
        Check a URL and analyze its possible security risks.
    </p>



    <div class="card">


        <input 
            type="text" 
            id="urlInput"
            placeholder="Enter website URL..."
        >


        <button onclick="analyzeURL()">
            Analyze
        </button>


    </div>



    <div id="result" class="result-box">

    </div>




    <div class="history">


        <h2>
            Recent Checks
        </h2>



        {% if history %}


            {% for item in history %}


            <div class="history-item">


                <p>
                    <strong>
                        {{ item.url }}
                    </strong>
                </p>


                <p>
                    Risk:
                    {{ item.risk_level }}
                    ({{ item.risk_score }}/100)
                </p>


                <small>
                    {{ item.checked_at }}
                </small>


            </div>


            {% endfor %}



        {% else %}


            <p>
                No previous checks found.
            </p>


        {% endif %}



    </div>



</div>



<script src="/static/script.js"></script>


</body>

</html>
